<div class="container-fluid">
	<table>
		<tr>
			<th></th>
			<th>Total</th> 
			<th>Tier A</th>
			<th>Tier A</th>
			<th>Tier A</th>
			<th>Tier A</th>
			<th>Tier B</th>
			<th>Tier B</th>
			<th>Tier B</th>
			<th>Tier C x 5</th>
		</tr>
		<tr ng-repeat="player in $ctrl.players">
			<td>{{player.name}}
				<br/><img style="width: 30px" ng-src="{{player.tierA[0].metaData.flag}}">
			</td>
			<td style="font-size: 30px">{{player.total}}</td> 
			<td ng-repeat="tier in player.tierA">
				<!-- <img style="width: 22px" ng-src="{{tier.metaData.flag}}"><br/> -->
				{{tier.name}}
				<div style="text-align: center;">
					<span style="font-size: 25px">{{tier.total}}</span>
				</div>
			</td>
			<td ng-repeat="tier in player.tierB">
				<!-- <img style="width: 22px" ng-src="{{tier.metaData.flag}}"><br/> -->
				{{tier.name}}
				<div style="text-align: center;">
					<span style="font-size: 25px">{{tier.total}}</span>
				</div>
			</td>
			<td ng-repeat="tier in player.tierC">
				<!-- <img style="width: 22px" ng-src="{{tier.metaData.flag}}"><br/> -->
				{{tier.name}}
				<div style="text-align: center;">
					<span style="font-size: 25px">{{tier.total}}</span>
				</div>
			</td>
		</tr>
	</table> 
	<span>Last update: {{$ctrl.lastUpdated}}</span>
</div>
